/* Estilos existentes */
.banner-container {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.category-card {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .category-card:hover {
        transform: translateY(-5px);
    }

.category-icon-container {
    background-color: #FF5733;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.category-icon {
    width: 64px;
    height: 64px;
    transition: transform 0.3s ease-in-out;
}

.category-card:hover .category-icon {
    transform: scale(1.1);
}

/* Atualização do estilo do footer */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    width: 100%;
    position: static; /* Removido position: absolute */
    margin-top: auto;
}
